body {
  font-family: 'Raleway', Raleway;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: linear-gradient(to bottom, #008148, #274F3D);
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
  color: #ffffff;
}

nav ul li a {
  text-decoration: none; /* Remove underlines for anchor tags */
  color: inherit; /* Inherit the color from the parent li */
}

nav ul li a:hover {
  color:darkgray; /* Change to the desired color on hover */
}

.logo-image-header {
  width: 150px; /* Adjust the size as needed */
  height: auto;
}
.book-now-button-H {
  background-color: transparent;
  color:#ffffff;
  padding: 15px 25px;
  text-decoration: none;
  border: 2px solid #ffffff; /* Add a white border */
  border-radius: 5px;
  font-weight: bold;
  margin-right: 20px;
}

.book-now-button-H:hover {
  background-color: #008148; /* Change the color on hover */
}

/*Hero*/
.hero {
  position: relative;
  height: 400px; /* Adjust the height as needed */
  background: url('https://via.placeholder.com/1600x800') center/cover no-repeat; /* Placeholder image */
  display: flex;
  align-items: center;
}

.text-overlay {
  position: absolute;
  left: 20px; /* Adjust the left space for the text */
  color: #ffffff;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

  
/*Tour Right*/

.featured-tours {
  text-align: center;
  padding: 0;
}

.featured-tours h2 {
  color: #008148;
  margin-bottom: 100px;
}

.tour-card-right {
  display: flex;
  overflow: hidden;
  padding: 20px;
  margin-top: 30px;
  width: 70%;
  margin: 0 auto;
  border-radius: 8px;
}

.tour-card-right:hover {
  background-color: #F1F2F2;
}

.tour-description-right {
  flex: 1;
  padding: 50px;
  text-align: left;
}

.tour-image-right {
  flex: 1;
  overflow: hidden;
  max-width: 50%;
  max-height: 500px;
}

.tour-image-right img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.book-now-button-T {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008148;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 180px;
}

.book-now-button-T:hover {
  background-color: #008F50; 
}

.tour-description-right ul {
  list-style-type: disc;
  margin-top: 10px;
  padding-left: 20px;
}

.tour-description-right li {
  margin-bottom: 8px;
}

/*Tour Left*/

.tour-card-left {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 30px;
  width: 70%;
  margin: 0 auto;
  border-radius: 8px;
}

.tour-card-left:hover {
  background-color: #F1F2F2;
}

.tour-image-left {
  flex: 1;
  overflow: hidden;
  max-width: 50%;
  max-height: 500px;
}

.tour-image-left img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

.tour-description-left {
  flex: 1;
  padding: 50px;
  text-align: left;
}



/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust the padding as needed */
  background: linear-gradient(to bottom, #008148, #274F3D);
  color: #ffffff;
}

.logo-image-footer {
  width: 200px; /* Adjust the size as needed */
  height: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column; /* Display pages vertically */
  text-align: left;
}

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav ul li {
  margin-bottom: 10px; /* Adjust the spacing between pages */
}

.footer-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-nav ul li a:hover {
  color: darkgray;
}

.contact-details {
  display: flex;
  flex-direction: column; /* Display contact details vertically */
  margin-right: 150px;
  text-align: left;
}

.contact-details div {
  margin-bottom: 10px; /* Adjust the spacing between contact details */
}

/*...*/
